<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="/tema-1.css" type="text/css">
</head>
<body>
  <div class="container">
    <header>
      <div class="title-container">
        <h1>Here be dragons</h1>
      </div>
      <div class="nav-container">
        <nav>
          <a href="/">Home</a> | <a href="/about">About</a>
        </nav>
      </div>
    </header>
    
    <main>
      {{content}}
    </main>
  </div>
</body>
</html>
